allow vendor_init vendor_seemp_data_file:dir { create search getattr open read setattr ioctl write add_name remove_name rmdir relabelfrom };
allow vendor_init vendor_seemp_data_file:file { create open read write setattr getattr map ioctl relabelfrom };
